@media (max-width: 1600px) {

    nav {
        padding: 0px 20px;
    }

    .logo img {
        scale: 0.9;
    }

    .nav_list {
        gap: 0px;
    }

    .nav_options {
        gap: 20px;
    }

    .nav_list li {
        scale: 0.7;
    }

    .nav_buttons {
        gap: 0px;
    }

    .nav_buttons a {
        scale: 0.7;
    }

    .hero {
        height: auto;
        margin-top: 0px;
    }

    .hero_text,
    .img_container {
        scale: 0.7;
    }

    .img_container img {
        scale: 1.1;
    }

    .desc_container {
        padding-top: 80px;
        justify-content: space-around;
    }

    .desc_container h2 {
        font-size: 70px;
    }

    .desc_container p {
        font-size: 16px;
    }

    .card_text h2 {
        font-size: 35px;
    }

    .card_text p {
        font-size: 18px;
    }

    .card {
        scale: 0.8;
    }

    .footer_section {
        height: 380px;
    }

    .contact_container {
        gap: 0px;
        padding-left: 20px;
    }

    .contact_container h2 {
        font-size: 40px;
    }

    .contact_content {
        width: 80%;
        gap: 0px;
    }

    .info {
        gap: 8px;
    }

    .info img {
        height: 25px;
        width: 25px;
    }

    .info h3 {
        font-size: 17px;
    }

    .social_logos img {
        height: 27px;
        width: 27px;
    }

    .footer_img_box {
        gap: 0px;
    }

}

@media (max-width: 1200px) {

    .img_container {
        background-size: 500px 500px;
    }


    .card_container {
        padding: 0px;
    }

    .info {
        height: 45px;
    }

    .footer_logo_text h2 {
        font-size: 35px;
    }


}

@media (max-width: 1070px) {

    .hero_text {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .hero_text h1 {
        font-size: 100px;
    }

    .img_container {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .card {
        scale: 0.75;
    }

}

@media (max-width: 1024px) {

    .card_section {
        height: 70%;
    }

    .card_container {
        margin-top: 50px;
        max-width: 70%;
        flex-wrap: wrap;
        gap: 50px;
    }

    .card {
        width: 80%;
        scale: 0.9;
    }

    .card_text h2 {
        font-size: 32px;
    }

    .card_text p {
        font-size: 15px;
    }
}

@media (max-width: 950px) {
    .contact_container {
        padding-left: 5px;
        width: 100%;
    }

    .contact_container h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact_content {
        width: 100%;
        justify-content: center;
    }

    .info_container {
        width: auto;
    }

    .social_logos {
        width: 100%;
        justify-content: center;
    }

    .footer_img_box {
        display: none;
    }
}

@media (max-width: 768px) {

    html,
    body {
        margin: 0 auto;
        overflow-x: hidden;
    }

    section {
        overflow-y: scroll;
    }

    nav {   
        position: fixed;
        z-index: 6;
    }

    .nav_options {
        position: absolute;
        width: 45%;
        height: 100%;
        top: 0px;
        right: 0px;
        flex-direction: column;
        background-color: #1b1b1b;
        z-index: 1;
        justify-content: center;
        gap: 40px;
        translate: 1000px;
        transition: all .5s ease-in-out;
        overflow-y: scroll;
    }

    .bar {
        width: 80%;
        height: 1px;
        background-color: #ffffff5f;
    }

    .bar span {
        width: 100%;
        height: 1px;
        background-color: #ffffff5f;
    }

    .nav_list {
        flex-direction: column;
        height: auto;
        gap: 12px;
    }

    .nav_buttons {
        flex-direction: column;
        height: 100px;
        scale: 1.1;
        gap: 5px;
    }

    .menu_label {
        display: flex;
        cursor: pointer;
    }

    .menu_label img {
        height: 50px;
        width: 50px;
        position: absolute;
        z-index: 5;
        right: 10px;
        top: 10px;
    }

    #menu_toggle:checked+.nav_options {
        translate: 0px;
    }


    .contact_container {
        height: auto;
        gap: 40px;
    }

    .contact_content {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .footer_logo {
        display: none;
    }

    .card_text h2 {
        width: 100%;
    }

    .hero_text {
        padding-bottom: 40px;
    }

    .hero_text h1 {
        font-size: 70px;

    }

    .hero_text p {
        font-size: 21px;
        width: 100%;
    }

    .hero_buttons {
        scale: 0.9;
    }

    .desc_container h2 {
        font-size: 50px;
    }

    .desc_container p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .card_text h2 {
        font-size: 30px;
        width: 90%;
    }

    .card_text p {
        width: 100%;
        padding: 0px 5px;
    }

    .card_container {
        max-width: 100%;
    }

    .card h3 {
        font-size: 20px;
    }

    .card p {
        font-size: 15px;
    }

}

@media (max-width: 425px) {
    .hero_text {
        padding: 0px;
        gap: 0px;
    }

    .hero_text h1 {
        font-size: 50px;
    }

    .hero_buttons {
        margin-top: 20px;
        flex-direction: column;
        gap: 50px;
        height: 150px;
    }

    .hero_buttons button {
        height: 60px;
    }

    .desc_container h2 {
        font-size: 35px;
    }

    .card_text h2 {
        font-size: 25px;
    }

    .barra {
        display: none;
    }
}